[Desktop Entry]
Icon=security-high
Exec=kcmshell5 kcm_firewall

Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_firewall
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=network
X-KDE-Weight=80
X-DocPath=kcontrol/firewall/index.html


Name=Firewall
Name[ca]=Tallafoc
Name[ca@valencia]=Tallafoc
Name[cs]=Firewall
Name[en_GB]=Firewall
Name[es]=Cortafuegos
Name[eu]=Suhesia
Name[fi]=Palomuuri
Name[fr]=Pare-feu
Name[it]=Firewall
Name[ko]=방화벽
Name[nl]=Firewall
Name[pt]='Firewall'
Name[ro]=Firewall
Name[ru]=Брандмауэр
Name[sk]=Firewall
Name[sl]=Vdorobran
Name[sv]=Brandvägg
Name[uk]=Брандмауер
Name[x-test]=xxFirewallxx
Comment=Control your network rules
Comment[ca]=Controla les regles per a la xarxa
Comment[ca@valencia]=Controla les regles per a la xarxa
Comment[en_GB]=Control your network rules
Comment[es]=Controlar las reglas de la red
Comment[eu]=Kontrolatu zure sareko arauak
Comment[fi]=Hallitse verkon sääntöjä
Comment[fr]=Contrôler vos règles de réseau
Comment[it]=Controlla le tue regole di rete
Comment[ko]=네트워크 규칙 제어
Comment[nl]=Uw netwerkregels besturen
Comment[pt]=Controlar as suas regras da rede
Comment[ro]=Controlați regulile de rețea
Comment[ru]=Управления правилами брандмауэра
Comment[sl]=Upravljaj vaše mrežna pravila
Comment[sv]=Styr nätverksregler
Comment[uk]=Керування вашими правилами мережі
Comment[x-test]=xxControl your network rulesxx
X-KDE-Keywords=firewall, network, security
X-KDE-Keywords[ca]=firewall, tallafoc, network, xarxa, security, seguretat
X-KDE-Keywords[ca@valencia]=firewall, tallafoc, network, xarxa, security, seguretat
X-KDE-Keywords[en_GB]=firewall, network, security
X-KDE-Keywords[es]=cortafuegos, firewall, red, seguridad
X-KDE-Keywords[eu]=suhesia, sarea, segurtasuna
X-KDE-Keywords[fi]=palomuuri, verkko, turvallisuus, tietoturva
X-KDE-Keywords[fr]=pare-feu, réseau, sécurité
X-KDE-Keywords[it]=firewall, rete, sicurezza
X-KDE-Keywords[ko]=firewall, network, security, 방화벽, 네트워크, 보안
X-KDE-Keywords[nl]=firewall, netwerk, beveiliging
X-KDE-Keywords[pt]=firewall, rede, segurança
X-KDE-Keywords[ro]=firewall, rețea, securitate
X-KDE-Keywords[ru]=firewall, network, security, брандмауэр, сеть, безопасность
X-KDE-Keywords[sl]=vdorobran, mreža, varnost
X-KDE-Keywords[sv]=brandvägg,nätverk,säkerhet
X-KDE-Keywords[uk]=брандмауер,мережа,безпека,захист,firewall, network, security
X-KDE-Keywords[x-test]=xxfirewallxx,xx networkxx,xx securityxx
Categories=Qt;KDE;X-KDE-settings-looknfeel;
