[Desktop Entry]
Icon=security-high
Exec=kcmshell5 kcm_firewall

Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_firewall
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=network
X-KDE-Weight=80
X-DocPath=kcontrol/firewall/index.html


Name=Firewall
Name[ar]=الجدار الناري
Name[az]=Təhlükəsizlik divarı
Name[ca]=Tallafoc
Name[ca@valencia]=Tallafoc
Name[cs]=Firewall
Name[da]=Firewall
Name[de]=Firewall
Name[en_GB]=Firewall
Name[es]=Cortafuegos
Name[et]=Tulemüür
Name[eu]=Suhesia
Name[fi]=Palomuuri
Name[fr]=Pare-feu
Name[hu]=Tűzfal
Name[ia]=Firewall (Taliafoco)
Name[it]=Firewall
Name[ko]=방화벽
Name[lt]=Užkarda
Name[nl]=Firewall
Name[nn]=Brannmur
Name[pl]=Zapora ogniowa
Name[pt]='Firewall'
Name[pt_BR]=Firewall
Name[ro]=Firewall
Name[ru]=Брандмауэр
Name[sk]=Firewall
Name[sl]=Vdorobran
Name[sv]=Brandvägg
Name[uk]=Брандмауер
Name[x-test]=xxFirewallxx
Name[zh_CN]=防火墙
Comment=Control your network rules
Comment[az]=Şəbəkə təhlükəsizliyi qaydalarını idarə etmək
Comment[ca]=Controla les regles per a la xarxa
Comment[ca@valencia]=Controla les regles per a la xarxa
Comment[da]=Styr dine netværksregler
Comment[de]=Überprüfung Ihrer Netzwerk-Regeln
Comment[en_GB]=Control your network rules
Comment[es]=Controlar las reglas de la red
Comment[et]=Võrgureeglite juhtimine
Comment[eu]=Kontrolatu zure sareko arauak
Comment[fi]=Hallitse verkon sääntöjä
Comment[fr]=Contrôler vos règles de réseau
Comment[hu]=A hálózati szabályok kezelése
Comment[ia]=Controla tu regulas de rete
Comment[it]=Controlla le tue regole di rete
Comment[ko]=네트워크 규칙 제어
Comment[lt]=Valdyti tinklo taisykles
Comment[nl]=Uw netwerkregels besturen
Comment[nn]=Kontroller nettverksreglar
Comment[pl]=Zarządzaj zasadami w swojej sieci
Comment[pt]=Controlar as suas regras da rede
Comment[pt_BR]=Controle suas regras de rede
Comment[ro]=Controlați regulile de rețea
Comment[ru]=Управления правилами брандмауэра
Comment[sk]=Ovládajte svoje sieťové pravidlá
Comment[sl]=Upravljaj vaše mrežna pravila
Comment[sv]=Styr nätverksregler
Comment[uk]=Керування вашими правилами мережі
Comment[x-test]=xxControl your network rulesxx
Comment[zh_CN]=控制本机的网络规则
X-KDE-Keywords=firewall, network, security
X-KDE-Keywords[az]=firewall, network, security,şəbəkə,təhlükəsizlik divarı,təhlükəsizlik ekranı
X-KDE-Keywords[ca]=firewall, tallafoc, network, xarxa, security, seguretat
X-KDE-Keywords[ca@valencia]=firewall, tallafoc, network, xarxa, security, seguretat
X-KDE-Keywords[da]=firewall, netværk, sikkerhed
X-KDE-Keywords[de]=firewall, network, security,netzwerk,sicherheit
X-KDE-Keywords[en_GB]=firewall, network, security
X-KDE-Keywords[es]=cortafuegos, firewall, red, seguridad
X-KDE-Keywords[et]=tulemüür,võrk,turvalisus
X-KDE-Keywords[eu]=suhesia, sarea, segurtasuna
X-KDE-Keywords[fi]=palomuuri, verkko, turvallisuus, tietoturva
X-KDE-Keywords[fr]=pare-feu, réseau, sécurité
X-KDE-Keywords[hu]=tűzfal, hálózat, biztonság
X-KDE-Keywords[ia]=firewall, network, security
X-KDE-Keywords[it]=firewall, rete, sicurezza
X-KDE-Keywords[ko]=firewall, network, security, 방화벽, 네트워크, 보안
X-KDE-Keywords[lt]=užkarda, uzkarda, tinklas, saugumas
X-KDE-Keywords[nl]=firewall, netwerk, beveiliging
X-KDE-Keywords[nn]=brannmur, nettverk, tryggleik
X-KDE-Keywords[pl]=zapora ogniowa, firewall, sieć, bezpieczeństwo, zabezpieczenia
X-KDE-Keywords[pt]=firewall, rede, segurança
X-KDE-Keywords[pt_BR]=firewall, rede, segurança
X-KDE-Keywords[ro]=firewall, rețea, securitate
X-KDE-Keywords[ru]=firewall, network, security, брандмауэр, сеть, безопасность
X-KDE-Keywords[sk]=firewall, sieť, bezpečnosť
X-KDE-Keywords[sl]=vdorobran, mreža, varnost
X-KDE-Keywords[sv]=brandvägg,nätverk,säkerhet
X-KDE-Keywords[uk]=брандмауер,мережа,безпека,захист,firewall, network, security
X-KDE-Keywords[x-test]=xxfirewallxx,xx networkxx,xx securityxx
X-KDE-Keywords[zh_CN]=firewall, network, security, 防火墙, 网络, 安全
Categories=Qt;KDE;X-KDE-settings-looknfeel;
